:root {
    --primary: #b6895b;
    --bg: #000000;
    --bg2: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: rgb(255, 255, 255);
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;

    top: 0;
    z-index: 999;

    background-color: rgb(1, 1, 1, 0.9);
    border-bottom: 0.1rem solid var(--primary);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3%;
    max-width: 100%;
}

.navbar-logo {
    font-size: clamp(20px, 2.3vw, 35px);
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.navbar-logo .text-white {
    color: #fff;
}

.navbar-logo .text-primary {
    color: var(--primary);
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 3px 15px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-right {
    display: flex;
    gap: 2rem;
}

.navbar-container .navbar-menu li a:hover {
    border-bottom: 2px solid var(--primary);
}

.navbar-icons {
    display: flex;
    background: none;
    color: #fff;
    width: 4.5rem;
    justify-content: space-between;
}

.navbar-toggle {
    display: none;
    background: transparent;
    border: none;
    width: 28px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

/* footer */
footer {
    background-color: #222;
    color: #eee;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-basecamp,
.footer-media,
.footer-quicklinks {
    flex: 1 1 15rem;
    margin: 2.5rem;
    max-width: 20rem;
}

/* Judul bagian footer */
.footer-basecamp h3,
.footer-media h3,
.footer-quicklinks h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    border-bottom: 2px solid #f04e30;
    padding-bottom: 8px;
}

/* List di bagian media sosial dan quick links */
.footer-media ul,
.footer-quicklinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-media ul li,
.footer-quicklinks ul li {
    margin-bottom: 1rem;
}

/* Link di dalam footer */
.footer-media ul li a,
.footer-quicklinks ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-media ul li a:hover,
.footer-quicklinks ul li a:hover {
    text-decoration: underline;
    color: #f04e30;
}

/* copyright */
.footer-copyright {
    background-color: #111;
    color: #999;
    padding: 15px 10px;
    border-top: 1px solid #444;
    margin-top: 13px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* responsif */
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 80px;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.594);
        background-color: #000000ba;
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
